@page "/"


<div class="make-flex">
    <div class="img-with-text" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
        <img src="Images/Headshot.png" class="circular-photo" />
        <br /><br />
        <div style="font-weight: bold; font-size: 1.7rem;">Josh Marquardt</div>
        <div>Full-Stack Software Developer</div>
        <br />
        <div class="line-height">
            <a href="mailto:marquardt1195@gmail.com" class="icon-hyperlink">
                <i class="fa-solid fa-envelope" style="font-size: larger;"></i>
                Email
            </a>
            <br />
            <a href="https://github.com/marquardt1195" class="icon-hyperlink">
                <i class="fa-brands fa-github" style="font-size: larger;"></i>
                Github
            </a>
            <br />
            <a href="https://www.linkedin.com/in/josh-marquardt-a7332b75/" class="icon-hyperlink">
                <i class="fa-brands fa-linkedin" style="color: #0A66C2; font-size: larger;"></i>
                LinkedIn
            </a>
            <br />
            <a href="https://scholar.google.com/scholar?hl=en&as_sdt=0%2C44&q=Joshua+Marquardt&btnG=" class="icon-hyperlink">
                <i class="fa-brands fa-google-scholar" style="color: #0A66C2; font-size: larger;"></i>
                Google Scholar
            </a>
        </div>
    </div>
    <div class="main-text-column">
        <p style="font-weight: bold; font-size: 1.3rem;">About Me</p>
        Welcome! <br /><br />
        @*         Josh is a full-stack software developer currently working at Low Cost Pet Tech, Co. in Dallas, TX. Prior to that, Josh worked
        as a graduate student at the University of Utah where he used the programming language R to conduct
        <a class="text-hyperlink" href="https://sd.copernicus.org/articles/25/35/2019/">original research</a> in the field of Geophysics.
        After graduating and earning his Masters of Science in 2020, during the COVID-19 pandemic, Josh spent his time applying his technical
        and analytical skills to the financial markets. He used R to build a <a class="text-hyperlink" href="https://marquardt1195.github.io">
        program</a> that collects, processes, and visualizes his investment results. Using this program, Josh leveraged his programming
        skills to secure a full-time job as a software developer in Dallas, TX. <br /><br />

        At Low Cost Pet Tech, a startup software company specializing in high-volume veterinarian services, Josh has worked on a
        wide range of projects, including building an inventory management system from the ground up, developing web API's, working
        with and converting data of various types to XML & JSON, and communicating key concepts and plans to company executives.
        These experiences have given him a solid foundation in using the .NET Framework with both relational and non-relational
        databases. Josh prides himself on his ability to communicate, problem-solve, pay close attention to detail, and prioritize tasks to
        meet deadlines. He's able to understand complex concepts and convey them in a simple and effective manner. <br /><br /> *@


        Josh is a full-stack software developer living and working in Dallas, TX. Currently employed at Low Cost Pet Tech, Co., a startup
        software company specializing in high-volume veterinarian services, Josh has worked on a wide range of projects, including building
        an inventory management system from the ground up, developing web API's, working with and converting data of various types to
        XML & JSON, and communicating key concepts and plans to company executives. These experiences have given him a solid foundation
        in using the .NET Framework with both relational and non-relational databases. Josh prides himself on his ability to communicate,
        problem-solve, pay close attention to detail, and prioritize tasks to meet deadlines. He's able to understand complex concepts
        and convey them in a simple and effective manner. <br /><br />

        Prior to that, Josh worked as a graduate student at the University of Utah where he used the programming language R to conduct
        <a class="text-hyperlink" href="https://sd.copernicus.org/articles/25/35/2019/">original research</a> in the field of Geophysics.
        After graduating and earning his Masters of Science in 2020, during the COVID-19 pandemic, Josh spent his time applying his technical
        and analytical skills to the financial markets. He used R to build a
        <a class="text-hyperlink" href="https://marquardt1195.github.io">program</a> that collects, processes, and visualizes
        his investment results. Using this program, Josh leveraged his programming skills to secure a full-time job as a software
        developer in Dallas, TX. <br /><br />

        Outside of work, Josh is an avid participant in the financial markets. He enjoys spending time outdoors with his dog and being with
        friends and family. As a lifelong learner, Josh reads roughly 10 books per year. He strongly believes in the importance of discipline,
        which he exercises by going to the gym six days a week and maintaining a healthy diet.

    </div>
</div>



