@page "/resume"

<h3 style="margin-left: 11rem;">Resume</h3>

<iframe src="Images/JoshMarquardt_Resume_2024.pdf" class="iframe-styling"></iframe>


@code {
    private bool showModal = true;

    private void CloseModal()
    {
        showModal = false;
    }

}

